.footerLogo img {
  width: 5rem;
}
.footer {
  background-color: var(--color-primary-500);
}

p,
h5,
.anchor {
  color: #fff;
}
.footer {
  align-content: center;
}
.footerContainer {
  margin-top: 20rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  /* align-content: center; */
}
