.App {
  text-align: center;
}

.logo {
  margin-top: 0.4em;
  width: 10em;
}

/* NAVIGATION */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  gap: 10%;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 750px) {
  .nav-list {
    flex-direction: column;
    gap: 2px;
  }
}

/* HEADER */

.header {
  background-color: #495e57;
}

.header-sec {
  width: 15rem;
  padding: 1em 0 3em 22em;
}

.header-sec h1 {
  color: #f4ce14;
}

.header-sec h3 {
  margin-top: -1.5em;
}

.header-button {
  background-color: #f4ce14;
  padding: 0.5em 2em;
  border-radius: 15px;
  border-style: none;
  font-weight: bold;
}

.header-photo {
  width: 15em;
  border-radius: 20px;
  margin-top: -17em;
  margin-left: 59em;
}

.header-col {
  color: #edefee;
}

/* MAIN */

.main-button {
  background-color: #f4ce14;
  font-weight: bold;
  padding: 0em 3em;
  border-style: none;
  border-radius: 1em;
}

.main-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12%;
  margin-top: 5em;
  margin-bottom: 3em;
}

.main-heading h1 {
  font-size: 3em;
}

.menu {
  width: 12em;
  background-color: #edefee;
  padding: 0 1.5em 2em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.menu img {
  width: 15em;
  margin-left: -1.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

span {
  margin-left: 5em;
}

.menu p {
  font-size: 12px;
  margin: 3em 0;
}
.menu a {
  font-weight: bold;
}

.menu-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}
footer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

@media screen and (max-width: 750px) {
  footer {
    flex-direction: column;
    gap: 2px;
  }
}
