.App {
  text-align: center;
}

.logo {
  margin-top: 0.4em;
  width: 10em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  gap: 10rem;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 750px) {
  .nav-list {
    flex-direction: column;
    gap: 2px;
  }
}

.header {
  background-color: #495e57;
}

.header-sec {
  width: 15rem;
  padding: 1em 0 3em 24em;
}

.header-sec h1 {
  color: #f4ce14;
}

.header-sec h3 {
  margin-top: -1.5em;
}

.header-button {
  background-color: #f4ce14;
  padding: 0.5em 2em;
  border-radius: 15px;
  border-style: none;
  font-weight: bold;
}

.header-photo {
  width: 15em;
  border-radius: 20px;
  margin-top: -17em;
  margin-left: 58em;
}

.header-col {
  color: #ffffff;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

@media screen and (max-width: 750px) {
  footer {
    flex-direction: column;
    gap: 2px;
  }
}
